



h1{
	font-family:sans-serif;
	text-align: center;
	font-size: 4vw;
}


p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}



#summary{
	width:50vw;
	margin-left:25vw;
}

#home{
	font-family: 'Roboto', sans-serif;
	font-size:2vw;
	background-color:black;
	border-width: 2px;
	color:white;
	border-color: white;
	text-align: left;
	margin-top:5vh;
	margin-left: 4vw;
}

#home:hover{
	background-color: black;
	color:black;
	cursor:pointer;
	background-color: white;
	border-color: black;

}


#startquiz{
	font-family: 'Roboto', sans-serif;
	font-size:2.8vw;
	background-color:white;
	border-width: 2px;
	color:black;
	border-color: black;
	text-align: left;
	margin-top:5vh;
	margin-left: 42vw;
}

#startquiz:hover{
	background-color: black;
	color:white;
	cursor:pointer;
	border-color: white;

}





